*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  min-height: 100vh;
  width: 100%;
  background: #5e5e5e;
  background: linear-gradient(to right top, #fffafa, #fef9fb, #fcf8fd, #f6f8ff, #f0f8ff);
}